.index1_div1, .index1_div2, .index1_div3 {
    background: #f7fa75;
    display: block;
    padding: 5px 5px;
}
.index1_div1, .index1_div2, .index1_div3 {
    padding-bottom: 40px;
}
.index1_div2{
    border: 2px solid #1a1819;
    background: #fa75d2;
}
.index1_div3{
    text-transform: uppercase;
}

/* index 2*/

.index2_div1, .index2_div2, .index2_div3 {
    margin-left: auto;
    margin-right: auto;
    background: #f7fa75;
    display: block;
    width: 50%;
    padding: 5px 5px;
}
.index2_div1, .index2_div2, .index2_div3 {
    margin-bottom: 30px;
    padding-bottom: 50px;
}
.index2_div2{
    border: 2px solid #1a1819;
    background: #fa75d2;
}
.index3_div3{
    text-transform: uppercase;
}

/*index 3*/

.index3{
    position: absolute;
    left: 400px;
}

.index3_span1, .index3_span2, .index3_span3 {
    display: inline;
    background: #f7fa75;
    padding: 5px 5px;
}
.index3_span2{
    background: #fa75d2;
    text-transform: uppercase;
}

/*index 4 */

.index4{
    position: absolute;
    left: 400px;
}

.index4_span1, .index4_span2, .index4_span3 {
    display: inline-block;
    background: #f7fa75;
    padding: 5px 5px 40px 5px;
}
.index4_span2{
    background: #fa75d2;
    text-transform: uppercase;
}
